
/*
	wpboilerplate - custom.less

	Feel free to edit this file to style your site.
	I strongly recommend you use of child themes when developing
	on top of wpboilerplate. http://codex.wordpress.org/Child_Themes

	! Do not forget to turn on LessCSS if you want to use this stylesheet !

*/

/* =============================================================================
   Variables
   ========================================================================== */

@border-radius: 5px;


/* =============================================================================
   Mixins
   ========================================================================== */

.border-radius(@radius: @border-radius) {
	-webkit-background-clip: padding-box;
	-webkit-border-radius: @radius;
	-moz-background-clip: padding-box;
	-moz-border-radius: @radius;
	border-radius: @radius;
	background-clip: padding-box;
	behavior: url(../misc/border-radius.htc);
}

.multi-border-radius(@top-left: @border-radius, @top-right: @border-radius, @bottom-right: @border-radius, @bottom-left: @border-radius) {
	-webkit-border-top-left-radius: @top-left;
	-webkit-border-top-right-radius: @top-right;
	-webkit-border-bottom-right-radius: @bottom-right;
	-webkit-border-bottom-left-radius: @bottom-left;
	-moz-border-radius-topleft: @top-left;
	-moz-border-radius-topright: @top-right;
	-moz-border-radius-bottomright: @bottom-right;
	-moz-border-radius-bottomleft: @bottom-left;
	border-top-left-radius: @top-left;
	border-top-right-radius: @top-right;
	border-bottom-right-radius: @bottom-right;
	border-bottom-left-radius: @bottom-left;
	behavior: url(../misc/border-radius.htc);
}

.box-shadow(@horizontal: 0px, @vertical: 0px, @blur: 8px, @color: #333) {
	-webkit-box-shadow: @horizontal @vertical @blur @color;
	-moz-box-shadow: @horizontal @vertical @blur @color;
	box-shadow: @horizontal @vertical @blur @color;
}

.inset-box-shadow(@horizontal: 0px, @vertical: 0px, @blur: 8px, @color: #333) {
	-webkit-box-shadow: inset @horizontal @vertical @blur @color;
	-moz-box-shadow: inset @horizontal @vertical @blur @color;
	box-shadow: inset @horizontal @vertical @blur @color;
}

.text-shadow(@horizontal: 0px, @vertical: 0px, @blur: 2px, @color: #333) {
	text-shadow: @horizontal @vertical @blur @color;
}

.multi-border-color(@top, @right, @bottom, @left) {
	border-top: 1px solid @top;
	border-left: 1px solid @sides;
	border-right: 1px solid @sides;
	border-bottom: 1px solid @bottom;
}

.vertical-gradient(@start: #000, @stop: #FFF) {
	background: @start;
	background: -webkit-gradient(linear, left top, left bottom, from(@start), to(@stop));
	background: -webkit-linear-gradient(@start, @stop);
	background: -moz-linear-gradient(center top, @start 0%, @stop 100%);
	background: -moz-gradient(center top, @start 0%, @stop 100%);
}

.opacity(@opacity: 100) {
	filter: alpha(opacity=@opacity);
	-moz-opacity: @opacity/100;
	-khtml-opacity: @opacity/100;
	opacity: @opacity/100;
}


/* =============================================================================
   Header
   ========================================================================== */

#banner {
	background: #000;

	#site-info {
		padding: 30px; color: #fff;
	}

	#site-title {
		margin-bottom: 10px;

		h2 a {
			font-size: 30px;
			color: #fff;
			text-decoration: none;
		}
	}

	#site-description {
		font-size: 14px;
		font-weight: normal;
	}
}


#nav-main {
	background: #000;

	ul {
		background: #000;

		li a {
			color: #fff;
			padding: 8px 14px;
		}

		li a:hover,
		li.current-menu-item > a,
		li.current-menu-parent > a,
		li.current-menu-ancestor > a,
		li:hover > a {
			color: #fff;
		}

		li.current-menu-item > a {
			font-weight: bold;
		}

		ul {
			background: #000;
			background: rgba(0,0,0,0.9);

			li a {
				padding: 6px 14px;
			}

			ul {
				li a:hover,
				li.current-menu-item > a,
				li.current-menu-parent > a,
				li.current-menu-ancestor > a,
				li:hover > a {
					color: #fff;
				}
			}
		}
	}
}

#subnav {
	padding: 10px 0;
	background: #eee;
	font-size: 90%;

	#breadcrumb {
		float: left;
		padding: 2px 20px;
	}

	#search {
		float: right;
		padding: 0 20px;
	}
}

/* =============================================================================
   Main content area
   ========================================================================== */

#main {
	.container {
		padding: 20px;
	}

	.page-title {
		font-size: 125%;
		color: #000;
		margin: 0;
	}

	p {
		margin-bottom: 20px;
	}

	.article-header {
		font-size: 110%;
		font-weight: bold;
	}
}

/* =============================================================================
   Sidebar
   ========================================================================== */

#sidebar {
	padding: 20px 0;

	.widget {
		margin-bottom: 20px;
	}
}

/* =============================================================================
   Posts
   ========================================================================== */

.hentry {
	header {
		margin-bottom: 1.5em;

		h1 {
			line-height: 1.2em;
			margin-bottom: 0.2em;
		}

		h2:first-child {
			line-height: 1.2em;
			margin-bottom: 0;

			a {
				text-decoration: none;
			}
		}

		.entry-meta {
			font-size: 90%;

			time {
				display: inline;
				position: relative;
			}
		}
	}

	footer {
		.entry-tags {
			font-size: 90%;
		}

		.entry-author {
			padding: 20px;
			background: #F5F2DD;
			border: 1px solid #DAD1B7;

			.fn {
				margin-bottom: 5px;
			}

			ul {
				margin-top: 5px;

				li {
					margin-right: 5px;
				}
			}
		}
	}
}

/* =============================================================================
   Footer
   ========================================================================== */

#content-info {
	background: #F5F2DD;

	#footer, #subfooter {
		padding: 20px 0;
	}

	#footer {
		border: solid #DAD1B7;
		border-width: 1px 0;
	}

	#subfooter {
		border-top: 1px solid #fff;

		#copy {
			padding: 0 20px;
		}
	}
}


/* =============================================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 480px) {
	/* Style adjustments for viewports 480px and over go here */

}

@media only screen and (min-width: 768px) {
	/* Style adjustments for viewports 768px and over go here */

}