// Grid
// grid.wpbp.less
// Grid system based on 960.gs and Foundation by Zurb
// -----------------------------------------------------

// Choose a decent box model first
* { .box-sizing(border-box); }

body { min-width: 62.5em; }

// CONTAINERS
// --------------------------------------------------

.container {
  width: auto;
  margin: 0;
}

.container_12,
.container_16 {
  margin-left: auto;
  margin-right: auto;
  width: 62.5rem;
}

// GRID GLOBAL STYLES
// --------------------------------------------------

.grid_1, .mobile_grid_1,
.grid_2, .mobile_grid_2,
.grid_3, .mobile_grid_3,
.grid_4, .mobile_grid_4,
.grid_5, .mobile_grid_5,
.grid_6, .mobile_grid_6,
.grid_7, .mobile_grid_7,
.grid_8, .mobile_grid_8,
.grid_9, .mobile_grid_9,
.grid_10, .mobile_grid_10,
.grid_11, .mobile_grid_11,
.grid_12, .mobile_grid_12,
.grid_13, .mobile_grid_13,
.grid_14, .mobile_grid_14,
.grid_15, .mobile_grid_15,
.grid_16, .mobile_grid_16 {
  position: relative;
  padding: 0 0.9375rem;
  min-height: 1px;

  &.center { text-align: center; }
  &.left { text-align: left; }
  &.right { text-align: right; }
}

.push_1, .pull_1,
.push_2, .pull_2,
.push_3, .pull_3,
.push_4, .pull_4,
.push_5, .pull_5,
.push_6, .pull_6,
.push_7, .pull_7,
.push_8, .pull_8,
.push_9, .pull_9,
.push_10, .pull_10,
.push_11, .pull_11,
.push_12, .pull_12,
.push_13, .pull_13,
.push_14, .pull_14,
.push_15, .pull_15 {
  position: relative;
}

// GENERATORS
// --------------------------------------------------

// Column Space
// -------------------------

.colSpace (@index, @colWidth, @prefix: ~'') when (@index > 0) {
  (~".@{prefix}grid_@{index}") {
    width: @colWidth * @index;
    float: left;
  }
  .colSpace(@index - 1, @colWidth, @prefix);
}
.colSpace (@index, @colWidth, @prefix: ~'') when (@index = 0) {}

// Prefix Space
// -------------------------

.prefixSpace (@index, @colWidth, @prefix: ~'') when (@index > 0) {
  (~".@{prefix}prefix_@{index}") {
    padding-left: @colWidth * @index;
  }
  .prefixSpace(@index - 1, @colWidth, @prefix);
}

.prefixSpace (@index, @colWidth, @prefix: ~'') when (@index = 0) {}

// Suffix Space
// -------------------------

.suffixSpace (@index, @colWidth, @prefix: ~'') when (@index > 0) {
  (~".@{prefix}suffix_@{index}") {
    padding-right: @colWidth * @index;
  }
  .suffixSpace(@index - 1, @colWidth, @prefix);
}
.suffixSpace (@index, @colWidth, @prefix: ~'') when (@index = 0) {}

// Push Space
// -------------------------

.pushSpace (@index, @colWidth, @prefix: ~'') when (@index > 0) {
  (~".@{prefix}push_@{index}") {
    left: @colWidth * @index;
  }
  .pushSpace(@index - 1, @colWidth, @prefix);
}
.pushSpace (@index, @colWidth, @prefix: ~'') when (@index = 0) {}

// Pull Space
// -------------------------

.pullSpace (@index, @colWidth, @prefix: ~'') when (@index > 0) {
  (~".@{prefix}pull_@{index}") {
    left: -@colWidth * @index;
  }
  .pullSpace(@index - 1, @colWidth, @prefix);
}
.pullSpace (@index, @colWidth, @prefix: ~'') when (@index = 0) {}

// 12 COLUMNS GRID
// --------------------------------------------------

.container_12 {

  @cols:      12;
  @colWidth:  8.333333333333333%;

  // Column Space
  // -------------------------

  .colSpace(@cols, @colWidth);

  // Prefix Space
  // -------------------------

  .prefixSpace(@cols, @colWidth);

  // Suffix Space
  // -------------------------

  .suffixSpace(@cols, @colWidth);

  // Push Space
  // -------------------------

  .pushSpace(@cols, @colWidth);

  // Pull Space
  // -------------------------

  .pullSpace(@cols, @colWidth);

}

// 16 COLUMNS GRID
// --------------------------------------------------

.container_16 {

  @cols:      16;
  @colWidth:  6.250%;

  // Column Space
  // -------------------------

  .colSpace(@cols, @colWidth);

  // Prefix Space
  // -------------------------

  .prefixSpace(@cols, @colWidth);

  // Suffix Space
  // -------------------------

  .suffixSpace(@cols, @colWidth);

  // Push Space
  // -------------------------

  .pushSpace(@cols, @colWidth);

  // Pull Space
  // -------------------------

  .pullSpace(@cols, @colWidth);
}

// BLOCK GRIDS
// --------------------------------------------------

.block_grid {
  > * {
    display: block;
    float: left;
    position: relative;
    padding: 0 0.9375em 0.5em;
    min-height: 1px;
  }

  &.by_2 > * { width: 100% / 2.00; }
  &.by_3 > * { width: 100% / 3.00; }
  &.by_4 > * { width: 100% / 4.00; }
  &.by_5 > * { width: 100% / 5.00; }
  &.by_6 > * { width: 100% / 6.00; }
  &.by_7 > * { width: 100% / 7.00; }
  &.by_8 > * { width: 100% / 8.00; }
  &.by_9 > * { width: 100% / 9.00; }
  &.by_10 > * { width: 100% / 10.00; }
}

ul.block_grid {
  margin-left: 0;
}

// CLEAR FLOATS
// --------------------------------------------------

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:before,
.clearfix:after,
.container_12:before,
.container_12:after,
.container_16:before,
.container_16:after {
  content: '.';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}

.clearfix:after,
.container_12:after,
.container_16:after {
  clear: both;
}

.clearfix,
.container_12,
.container_16 {
  zoom: 1;
}

// FIXES (require Modernizr)
// --------------------------------------------------

// Fix for browsers not supporting box-sizing
html.no-boxsizing {
  .grid_1,  .mobile_grid_1,
  .grid_2,  .mobile_grid_2,
  .grid_3,  .mobile_grid_3,
  .grid_4,  .mobile_grid_4,
  .grid_5,  .mobile_grid_5,
  .grid_6,  .mobile_grid_6,
  .grid_7,  .mobile_grid_7,
  .grid_8,  .mobile_grid_8,
  .grid_9,  .mobile_grid_9,
  .grid_10, .mobile_grid_10,
  .grid_11, .mobile_grid_11,
  .grid_12, .mobile_grid_12,
  .grid_13, .mobile_grid_13,
  .grid_14, .mobile_grid_14,
  .grid_15, .mobile_grid_15,
  .grid_16, .mobile_grid_16 {
    padding: 0;
  }
}

// RESPONSIVE GRID
// --------------------------------------------------


@media only screen and (min-width: @screenXlarge) {
  body.responsive {
    min-width: 95rem;

    .container_12,
    .container_16 {
      width: 95rem;
    }
  }
}

@media only screen and (min-width: @screenLarge) and (max-width: @screenXlarge) {
  body.responsive {
    min-width: 75rem;

    .container_12,
    .container_16 {
      width: 75rem;
    }
  }
}

// 981px - 1280px
@media only screen and (min-width: @screenMedium) and (max-width: @screenLarge) {
  body.responsive {
    min-width: 62.5rem;

    .container_12,
    .container_16 {
      width: 62.5rem;
    }
  }
}

// 761px - 980px
@media only screen and (min-width: @screenSmall) and (max-width: @screenMedium) {
  body.responsive {
    min-width: 45rem;

    .container_12,
    .container_16 {
      width: 45rem;
    }
  }
}

// Below 760px
@media only screen and (max-width: @screenSmall) {
  body.responsive,
  body.mobile-responsive {
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    width: 100%;
    min-width: 0;
    margin: 0;

    .mobile-center {
      text-align: center;
    }

    .mobile-left {
      text-align: left;
    }

    .mobile-right {
      text-align: right;
    }

    .mobile-hide {
      display: none;
    }

    .mobile-show {
      display: block;
    }

    .container_12,
    .container_16 {
      width: 100%;
    }

    .block_grid > * {
      float: none;
      width: 100%;
    }

    .grid_1,  .grid_2,  .grid_3,  .grid_4,
    .grid_5,  .grid_6,  .grid_7,  .grid_8,
    .grid_9,  .grid_10, .grid_11, .grid_12,
    .grid_13, .grid_14, .grid_15, .grid_16 {
      float: none;
      width: 100%;
    }

    .prefix_1,  .prefix_2,  .prefix_3,  .prefix_4,
    .prefix_5,  .prefix_6,  .prefix_7,  .prefix_8,
    .prefix_9,  .prefix_10, .prefix_11, .prefix_12,
    .prefix_13, .prefix_14, .prefix_15, .prefix_16 {
      padding-left: 0;
    }

    .suffix_1,  .suffix_2,  .suffix_3,  .suffix_4,
    .suffix_5,  .suffix_6,  .suffix_7,  .suffix_8,
    .suffix_9,  .suffix_10, .suffix_11, .suffix_12,
    .suffix_13, .suffix_14, .suffix_15, .suffix_16 {
      padding-right: 0;
    }

    .push_1,  .push_2,  .push_3,  .push_4,
    .push_5,  .push_6,  .push_7,  .push_8,
    .push_9,  .push_10, .push_11, .push_12,
    .push_13, .push_14, .push_15, .push_16 {
      left: 0;
    }

    .pull_1,  .pull_2,  .pull_3,  .pull_4,
    .pull_5,  .pull_6,  .pull_7,  .pull_8,
    .pull_9,  .pull_10, .pull_11, .pull_12,
    .pull_13, .pull_14, .pull_15, .pull_16 {
      left: 0;
    }

  // 12 COLUMNS GRID
  // --------------------------------------------------

    .container_12 {

      @cols:      12;
      @colWidth:  8.333333333333333%;

    // Column Space
    // -------------------------

      .colSpace(@cols, @colWidth, "mobile_");

    // Prefix Space
    // -------------------------

      .prefixSpace(@cols, @colWidth, "mobile_");

    // Suffix Space
    // -------------------------

      .suffixSpace(@cols, @colWidth, "mobile_");

    // Push Space
    // -------------------------

      .pushSpace(@cols, @colWidth, "mobile_");

    // Pull Space
    // -------------------------

      .pullSpace(@cols, @colWidth, "mobile_");

    }

  // 16 COLUMNS GRID
  // --------------------------------------------------

    .container_16 {

      @cols:      16;
      @colWidth:  6.250%;

    // Column Space
    // -------------------------

      .colSpace(@cols, @colWidth, "mobile_");

    // Prefix Space
    // -------------------------

      .prefixSpace(@cols, @colWidth, "mobile_");

    // Suffix Space
    // -------------------------

      .suffixSpace(@cols, @colWidth, "mobile_");

    // Push Space
    // -------------------------

      .pushSpace(@cols, @colWidth, "mobile_");

    // Pull Space
    // -------------------------

      .pullSpace(@cols, @colWidth, "mobile_");
    }
  }
}