#wpbp-modal-blanket {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #000;
}

.wpbp-modal-box {
	display: none;
	position: absolute;
}

.wpbp-modal-box-opened {
	display: block;
}