// Responsive
// responsive.wpbp.less
// -----------------------------------------------------

// RESPONSIVE ELEMENTS
// --------------------------------------------------

img {
  width: auto;
  height: auto;
  max-width: 100% !important;
  max-height: 100% !important;
}

.embed-container {
  position: relative;
  height: 0;
  overflow: hidden;

  &.r16x9 {
    padding-bottom: 56.25%;
  }
  &.r4x3 {
    padding-bottom: 75.00%;
  }

  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.small-only,
.small-show,
.medium-only,
.medium-show,
.medium-and-below-only,
.medium-and-above-only,
.large-only {
  position: absolute !important;
  left: -999em !important;
}

// Small
@media screen and (max-width: @screenSmall) {

  .small-only,
  .small-show,
  .medium-and-below-only {
    position: static !important;
    left: 0 !important;
  }

  .small-hide {
    position: absolute !important;
    left: -999em !important;
  }

  .small-center {
    text-align: center;
  }

  .small-left {
    text-align: left;
  }

  .small-right {
    text-align: right;
  }

}

// Medium
@media screen and (min-width: @screenSmall) and (max-width: @screenMedium) {

  .medium-only,
  .medium-show,
  .medium-and-below-only,
  .medium-and-above-only {
    position: static !important;
    left: 0 !important;
  }

  .medium-hide {
    position: absolute !important;
    left: -999em !important;
  }

}

// Mobile (Small & Medium)
@media screen and (max-width: @screenMedium) {

  .mobile-center {
    text-align: center;
  }

  .mobile-left {
    text-align: left;
  }

  .mobile-right {
    text-align: right;
  }

}

// Large
@media screen and (min-width: @screenMedium) {

  .large-only,
  .large-show,
  .medium-and-above-only {
    position: static !important;
    left: 0 !important;
  }

  .large-hide {
    position: absolute !important;
    left: -999em !important;
  }

}
