// Responsive
// responsive.wpbp.less
// -----------------------------------------------------

// RESPONSIVE ELEMENTS
// --------------------------------------------------

img {
    width: auto;
    height: auto;
    max-width: 100% !important;
    max-height: 100% !important;
}

.embed-container {
    position: relative;
    height: 0;
    overflow: hidden;

    &.r16x9 {
        padding-bottom: 56.25%;
    }
    &.r4x3 {
        padding-bottom: 75.00%;
    }

    iframe,
    object,
    embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

// RESPONSIVE GRID
// --------------------------------------------------

@media only screen and (min-width: @screenXlarge) {
    body.responsive {
        min-width: 1560px;

        .container_12,
        .container_16 {
            width: 1560px;
        }
    }
}

@media only screen and (min-width: @screenLarge) and (max-width: @screenXlarge) {
    body.responsive {
        min-width: 1200px;

        .container_12,
        .container_16 {
            width: 1200px;
        }
    }
}

// 981px - 1280px
@media only screen and (min-width: @screenMedium) and (max-width: @screenLarge) {
    body.responsive {
        min-width: 960px;

        .container_12,
        .container_16 {
            width: 960px;
        }
    }
}

// 761px - 980px
@media only screen and (min-width: @screenSmall) and (max-width: @screenMedium) {
    body.responsive {
        min-width: 720px;

        .container_12,
        .container_16 {
            width: 720px;
        }
    }
}

// Below 760px
@media only screen and (max-width: @screenSmall) {
    body.responsive,
    body.mobile-responsive {
        -webkit-text-size-adjust: none;
        -ms-text-size-adjust: none;
        width: 100%;
        min-width: 0;
        margin: 0;

        .container_12,
        .container_16 {
            width: 100%;
        }

        .grid_1,
        .grid_2,
        .grid_3,
        .grid_4,
        .grid_5,
        .grid_6,
        .grid_7,
        .grid_8,
        .grid_9,
        .grid_10,
        .grid_11,
        .grid_12,
        .grid_13,
        .grid_14,
        .grid_15,
        .grid_16 {
            float: none;
            width: 100%;

            &.mobile-center {
                text-align: center;
            }
            &.mobile-left {
                text-align: left;
            }
            &.mobile-right {
                text-align: right;
            }

            &.alpha, &.omega {
                padding: 0;
            }
        }

        .block_grid > * {
            width: 100%;
        }
    }
}