.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(http://firecdn.net/libs/box-sizing-polyfill/boxsizing.htc);
}
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
  background: #fff;
}
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
meter,
nav,
object,
ol,
output,
p,
pre,
progress,
q,
rp,
rt,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video,
xmp {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(http://firecdn.net/libs/box-sizing-polyfill/boxsizing.htc);
}
body {
  min-width: 960px;
}
.container {
  width: auto;
  margin: 0;
}
.container_12,
.container_16 {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}
.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12,
.grid_13,
.grid_14,
.grid_15,
.grid_16 {
  float: left;
  position: relative;
  padding: 0 10px;
  min-height: 1px;
}
.grid_1.center,
.grid_2.center,
.grid_3.center,
.grid_4.center,
.grid_5.center,
.grid_6.center,
.grid_7.center,
.grid_8.center,
.grid_9.center,
.grid_10.center,
.grid_11.center,
.grid_12.center,
.grid_13.center,
.grid_14.center,
.grid_15.center,
.grid_16.center {
  text-align: center;
}
.grid_1.left,
.grid_2.left,
.grid_3.left,
.grid_4.left,
.grid_5.left,
.grid_6.left,
.grid_7.left,
.grid_8.left,
.grid_9.left,
.grid_10.left,
.grid_11.left,
.grid_12.left,
.grid_13.left,
.grid_14.left,
.grid_15.left,
.grid_16.left {
  text-align: left;
}
.grid_1.right,
.grid_2.right,
.grid_3.right,
.grid_4.right,
.grid_5.right,
.grid_6.right,
.grid_7.right,
.grid_8.right,
.grid_9.right,
.grid_10.right,
.grid_11.right,
.grid_12.right,
.grid_13.right,
.grid_14.right,
.grid_15.right,
.grid_16.right {
  text-align: right;
}
.push_1,
.pull_1,
.push_2,
.pull_2,
.push_3,
.pull_3,
.push_4,
.pull_4,
.push_5,
.pull_5,
.push_6,
.pull_6,
.push_7,
.pull_7,
.push_8,
.pull_8,
.push_9,
.pull_9,
.push_10,
.pull_10,
.push_11,
.pull_11,
.push_12,
.pull_12,
.push_13,
.pull_13,
.push_14,
.pull_14,
.push_15,
.pull_15 {
  position: relative;
}
.alpha {
  padding-left: 0;
}
.omega {
  padding-right: 0;
}
.container_12 .grid_12 {
  width: 99.99999999999999%;
}
.container_12 .grid_11 {
  width: 91.66666666666666%;
}
.container_12 .grid_10 {
  width: 83.33333333333331%;
}
.container_12 .grid_9 {
  width: 74.99999999999999%;
}
.container_12 .grid_8 {
  width: 66.66666666666666%;
}
.container_12 .grid_7 {
  width: 58.33333333333333%;
}
.container_12 .grid_6 {
  width: 49.99999999999999%;
}
.container_12 .grid_5 {
  width: 41.66666666666666%;
}
.container_12 .grid_4 {
  width: 33.33333333333333%;
}
.container_12 .grid_3 {
  width: 24.999999999999996%;
}
.container_12 .grid_2 {
  width: 16.666666666666664%;
}
.container_12 .grid_1 {
  width: 8.333333333333332%;
}
.container_12 .prefix_12 {
  padding-left: 99.99999999999999%;
}
.container_12 .prefix_11 {
  padding-left: 91.66666666666666%;
}
.container_12 .prefix_10 {
  padding-left: 83.33333333333331%;
}
.container_12 .prefix_9 {
  padding-left: 74.99999999999999%;
}
.container_12 .prefix_8 {
  padding-left: 66.66666666666666%;
}
.container_12 .prefix_7 {
  padding-left: 58.33333333333333%;
}
.container_12 .prefix_6 {
  padding-left: 49.99999999999999%;
}
.container_12 .prefix_5 {
  padding-left: 41.66666666666666%;
}
.container_12 .prefix_4 {
  padding-left: 33.33333333333333%;
}
.container_12 .prefix_3 {
  padding-left: 24.999999999999996%;
}
.container_12 .prefix_2 {
  padding-left: 16.666666666666664%;
}
.container_12 .prefix_1 {
  padding-left: 8.333333333333332%;
}
.container_12 .suffix_12 {
  padding-right: 99.99999999999999%;
}
.container_12 .suffix_11 {
  padding-right: 91.66666666666666%;
}
.container_12 .suffix_10 {
  padding-right: 83.33333333333331%;
}
.container_12 .suffix_9 {
  padding-right: 74.99999999999999%;
}
.container_12 .suffix_8 {
  padding-right: 66.66666666666666%;
}
.container_12 .suffix_7 {
  padding-right: 58.33333333333333%;
}
.container_12 .suffix_6 {
  padding-right: 49.99999999999999%;
}
.container_12 .suffix_5 {
  padding-right: 41.66666666666666%;
}
.container_12 .suffix_4 {
  padding-right: 33.33333333333333%;
}
.container_12 .suffix_3 {
  padding-right: 24.999999999999996%;
}
.container_12 .suffix_2 {
  padding-right: 16.666666666666664%;
}
.container_12 .suffix_1 {
  padding-right: 8.333333333333332%;
}
.container_12 .push_12 {
  left: 99.99999999999999%;
}
.container_12 .push_11 {
  left: 91.66666666666666%;
}
.container_12 .push_10 {
  left: 83.33333333333331%;
}
.container_12 .push_9 {
  left: 74.99999999999999%;
}
.container_12 .push_8 {
  left: 66.66666666666666%;
}
.container_12 .push_7 {
  left: 58.33333333333333%;
}
.container_12 .push_6 {
  left: 49.99999999999999%;
}
.container_12 .push_5 {
  left: 41.66666666666666%;
}
.container_12 .push_4 {
  left: 33.33333333333333%;
}
.container_12 .push_3 {
  left: 24.999999999999996%;
}
.container_12 .push_2 {
  left: 16.666666666666664%;
}
.container_12 .push_1 {
  left: 8.333333333333332%;
}
.container_12 .pull_12 {
  left: -99.99999999999999%;
}
.container_12 .pull_11 {
  left: -91.66666666666666%;
}
.container_12 .pull_10 {
  left: -83.33333333333331%;
}
.container_12 .pull_9 {
  left: -74.99999999999999%;
}
.container_12 .pull_8 {
  left: -66.66666666666666%;
}
.container_12 .pull_7 {
  left: -58.33333333333333%;
}
.container_12 .pull_6 {
  left: -49.99999999999999%;
}
.container_12 .pull_5 {
  left: -41.66666666666666%;
}
.container_12 .pull_4 {
  left: -33.33333333333333%;
}
.container_12 .pull_3 {
  left: -24.999999999999996%;
}
.container_12 .pull_2 {
  left: -16.666666666666664%;
}
.container_12 .pull_1 {
  left: -8.333333333333332%;
}
.container_16 .grid_16 {
  width: 100%;
}
.container_16 .grid_15 {
  width: 93.75%;
}
.container_16 .grid_14 {
  width: 87.5%;
}
.container_16 .grid_13 {
  width: 81.25%;
}
.container_16 .grid_12 {
  width: 75%;
}
.container_16 .grid_11 {
  width: 68.75%;
}
.container_16 .grid_10 {
  width: 62.5%;
}
.container_16 .grid_9 {
  width: 56.25%;
}
.container_16 .grid_8 {
  width: 50%;
}
.container_16 .grid_7 {
  width: 43.75%;
}
.container_16 .grid_6 {
  width: 37.5%;
}
.container_16 .grid_5 {
  width: 31.25%;
}
.container_16 .grid_4 {
  width: 25%;
}
.container_16 .grid_3 {
  width: 18.75%;
}
.container_16 .grid_2 {
  width: 12.5%;
}
.container_16 .grid_1 {
  width: 6.25%;
}
.container_16 .prefix_16 {
  padding-left: 100%;
}
.container_16 .prefix_15 {
  padding-left: 93.75%;
}
.container_16 .prefix_14 {
  padding-left: 87.5%;
}
.container_16 .prefix_13 {
  padding-left: 81.25%;
}
.container_16 .prefix_12 {
  padding-left: 75%;
}
.container_16 .prefix_11 {
  padding-left: 68.75%;
}
.container_16 .prefix_10 {
  padding-left: 62.5%;
}
.container_16 .prefix_9 {
  padding-left: 56.25%;
}
.container_16 .prefix_8 {
  padding-left: 50%;
}
.container_16 .prefix_7 {
  padding-left: 43.75%;
}
.container_16 .prefix_6 {
  padding-left: 37.5%;
}
.container_16 .prefix_5 {
  padding-left: 31.25%;
}
.container_16 .prefix_4 {
  padding-left: 25%;
}
.container_16 .prefix_3 {
  padding-left: 18.75%;
}
.container_16 .prefix_2 {
  padding-left: 12.5%;
}
.container_16 .prefix_1 {
  padding-left: 6.25%;
}
.container_16 .suffix_16 {
  padding-right: 100%;
}
.container_16 .suffix_15 {
  padding-right: 93.75%;
}
.container_16 .suffix_14 {
  padding-right: 87.5%;
}
.container_16 .suffix_13 {
  padding-right: 81.25%;
}
.container_16 .suffix_12 {
  padding-right: 75%;
}
.container_16 .suffix_11 {
  padding-right: 68.75%;
}
.container_16 .suffix_10 {
  padding-right: 62.5%;
}
.container_16 .suffix_9 {
  padding-right: 56.25%;
}
.container_16 .suffix_8 {
  padding-right: 50%;
}
.container_16 .suffix_7 {
  padding-right: 43.75%;
}
.container_16 .suffix_6 {
  padding-right: 37.5%;
}
.container_16 .suffix_5 {
  padding-right: 31.25%;
}
.container_16 .suffix_4 {
  padding-right: 25%;
}
.container_16 .suffix_3 {
  padding-right: 18.75%;
}
.container_16 .suffix_2 {
  padding-right: 12.5%;
}
.container_16 .suffix_1 {
  padding-right: 6.25%;
}
.container_16 .push_16 {
  left: 100%;
}
.container_16 .push_15 {
  left: 93.75%;
}
.container_16 .push_14 {
  left: 87.5%;
}
.container_16 .push_13 {
  left: 81.25%;
}
.container_16 .push_12 {
  left: 75%;
}
.container_16 .push_11 {
  left: 68.75%;
}
.container_16 .push_10 {
  left: 62.5%;
}
.container_16 .push_9 {
  left: 56.25%;
}
.container_16 .push_8 {
  left: 50%;
}
.container_16 .push_7 {
  left: 43.75%;
}
.container_16 .push_6 {
  left: 37.5%;
}
.container_16 .push_5 {
  left: 31.25%;
}
.container_16 .push_4 {
  left: 25%;
}
.container_16 .push_3 {
  left: 18.75%;
}
.container_16 .push_2 {
  left: 12.5%;
}
.container_16 .push_1 {
  left: 6.25%;
}
.container_16 .pull_16 {
  left: -100%;
}
.container_16 .pull_15 {
  left: -93.75%;
}
.container_16 .pull_14 {
  left: -87.5%;
}
.container_16 .pull_13 {
  left: -81.25%;
}
.container_16 .pull_12 {
  left: -75%;
}
.container_16 .pull_11 {
  left: -68.75%;
}
.container_16 .pull_10 {
  left: -62.5%;
}
.container_16 .pull_9 {
  left: -56.25%;
}
.container_16 .pull_8 {
  left: -50%;
}
.container_16 .pull_7 {
  left: -43.75%;
}
.container_16 .pull_6 {
  left: -37.5%;
}
.container_16 .pull_5 {
  left: -31.25%;
}
.container_16 .pull_4 {
  left: -25%;
}
.container_16 .pull_3 {
  left: -18.75%;
}
.container_16 .pull_2 {
  left: -12.5%;
}
.container_16 .pull_1 {
  left: -6.25%;
}
.block_grid > * {
  display: block;
  float: left;
  position: relative;
  padding: 0 10px;
  min-height: 1px;
}
.block_grid.by_2 > * {
  width: 50%;
}
.block_grid.by_3 > * {
  width: 33.333333333333336%;
}
.block_grid.by_4 > * {
  width: 25%;
}
.block_grid.by_5 > * {
  width: 20%;
}
.block_grid.by_6 > * {
  width: 16.666666666666668%;
}
.block_grid.by_7 > * {
  width: 14.285714285714286%;
}
.block_grid.by_8 > * {
  width: 12.5%;
}
.block_grid.by_9 > * {
  width: 11.11111111111111%;
}
.block_grid.by_10 > * {
  width: 10%;
}
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.clearfix:before,
.clearfix:after,
.container_12:before,
.container_12:after,
.container_16:before,
.container_16:after {
  content: '.';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}
.clearfix:after,
.container_12:after,
.container_16:after {
  clear: both;
}
.clearfix,
.container_12,
.container_16 {
  zoom: 1;
}
html.no-boxsizing .grid_1,
html.no-boxsizing .grid_2,
html.no-boxsizing .grid_3,
html.no-boxsizing .grid_4,
html.no-boxsizing .grid_5,
html.no-boxsizing .grid_6,
html.no-boxsizing .grid_7,
html.no-boxsizing .grid_8,
html.no-boxsizing .grid_9,
html.no-boxsizing .grid_10,
html.no-boxsizing .grid_11,
html.no-boxsizing .grid_12,
html.no-boxsizing .grid_13,
html.no-boxsizing .grid_14,
html.no-boxsizing .grid_15,
html.no-boxsizing .grid_16 {
  padding: 0;
}
body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 1.4;
  color: #333333;
  background-color: #ffffff;
}
a {
  color: #0088cc;
  text-decoration: none;
}
a:hover {
  color: #005580;
  text-decoration: underline;
}
a:focus {
  outline: none;
}
a:hover,
a:active {
  outline: 0;
}
a:active,
a input.button:active {
  outline: 0;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
.inline > ul,
ul.inline {
  list-style: none;
  margin: 0;
  padding: 0;
}
.inline > ul > li,
ul.inline > li {
  display: block;
  float: left;
}
.inline.spaced > ul > li,
.inline > ul.spaced > li,
ul.inline.spaced > li {
  margin: 0 0.5em 0 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: bold;
  color: inherit;
  line-height: 1.25;
  margin: 0.8125em 0;
}
h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.125em;
}
h5 {
  font-size: 1em;
}
h6 {
  font-size: 0.875em;
}
p {
  font-size: 1em;
  margin: 1em 0;
  padding: 0;
}
ul,
ol {
  margin: 1em 0 1em 2em;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #eeeeee;
  margin: 1em 0;
  padding: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 1.4;
  border-left: 5px solid #eeeeee;
}
blockquote p {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.75;
}
blockquote small {
  display: block;
  line-height: 1.4;
  color: #999999;
}
blockquote small:before {
  content: '\2014 \00A0';
}
blockquote.pull-right {
  float: right;
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid #eeeeee;
  border-left: 0;
}
blockquote.pull-right p,
blockquote.pull-right small {
  text-align: right;
}
dfn {
  font-style: italic;
}
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: "";
  content: none;
}
address {
  display: block;
  margin-bottom: 1.4;
  font-style: normal;
  line-height: 1.4;
}
small {
  font-size: 0.75em;
}
sub,
sup {
  font-size: 0.75em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
.aligncenter {
  display: block;
  margin: 0 auto;
}
.alignleft {
  margin: 0 1.5em 1.5em 0;
  float: left;
}
.alignright {
  margin: 0 0 1.5em 1.5em;
  float: right;
}
.wp-caption {
  border: 1px solid #ddd;
  text-align: center;
  background: #eee;
  padding: 14px 10px 6px 10px;
  margin: 15px 10px;
}
.wp-caption-text {
  margin: 0;
}
#wpbp-modal-blanket {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
}
.wpbp-modal-box {
  display: none;
  position: absolute;
  z-index: 9999999;
}
.wpbp-modal-box-opened {
  display: block;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}
.ir br {
  display: none;
}
.hidden,
[hidden] {
  display: none;
  visibility: hidden;
}
.visuallyhidden {
  position: absolute;
  border: 0;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.valign,
.vAlign {
  position: relative;
}
.social.icon > a,
.social-icon > a {
  display: block;
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}
.social.icon > a br,
.social-icon > a br {
  display: none;
}
.social.icon.x16 > a,
.social-icon.x16 > a {
  width: 16px;
  height: 16px;
}
.social.icon.x24 > a,
.social-icon.x24 > a {
  width: 24px;
  height: 24px;
}
.social.icon.x32 > a,
.social-icon.x32 > a {
  width: 32px;
  height: 32px;
}
.social.icon.vector.x16.facebook > a,
.social-icon.vector.x16.facebook > a {
  background-image: url(http://firecdn.net/images/social_icons/vector/16px/facebook.png);
}
.social.icon.vector.x16.twitter > a,
.social-icon.vector.x16.twitter > a {
  background-image: url(http://firecdn.net/images/social_icons/vector/16px/twitter.png);
}
.social.icon.vector.x16.twitter-2 > a,
.social-icon.vector.x16.twitter-2 > a {
  background-image: url(http://firecdn.net/images/social_icons/vector/16px/twitter-2.png);
}
.social.icon.vector.x16.linkedin > a,
.social-icon.vector.x16.linkedin > a {
  background-image: url(http://firecdn.net/images/social_icons/vector/16px/linkedin.png);
}
.social.icon.vector.x16.google-plus > a,
.social-icon.vector.x16.google-plus > a {
  background-image: url(http://firecdn.net/images/social_icons/vector/16px/google-plus.png);
}
.social.icon.vector.x16.google-plus-black > a,
.social-icon.vector.x16.google-plus-black > a {
  background-image: url(http://firecdn.net/images/social_icons/vector/16px/google-plus-black.png);
}
.social.icon.vector.x16.youtube > a,
.social-icon.vector.x16.youtube > a {
  background-image: url(http://firecdn.net/images/social_icons/vector/16px/youtube.png);
}
.social.icon.vector.x24.facebook > a,
.social-icon.vector.x24.facebook > a {
  background-image: url(http://firecdn.net/images/social_icons/vector/24px/facebook.png);
}
.social.icon.vector.x24.twitter > a,
.social-icon.vector.x24.twitter > a {
  background-image: url(http://firecdn.net/images/social_icons/vector/24px/twitter.png);
}
.social.icon.vector.x24.twitter-2 > a,
.social-icon.vector.x24.twitter-2 > a {
  background-image: url(http://firecdn.net/images/social_icons/vector/24px/twitter-2.png);
}
.social.icon.vector.x24.linkedin > a,
.social-icon.vector.x24.linkedin > a {
  background-image: url(http://firecdn.net/images/social_icons/vector/24px/linkedin.png);
}
.social.icon.vector.x24.google-plus > a,
.social-icon.vector.x24.google-plus > a {
  background-image: url(http://firecdn.net/images/social_icons/vector/24px/google-plus.png);
}
.social.icon.vector.x24.google-plus-black > a,
.social-icon.vector.x24.google-plus-black > a {
  background-image: url(http://firecdn.net/images/social_icons/vector/24px/google-plus-black.png);
}
.social.icon.vector.x24.youtube > a,
.social-icon.vector.x24.youtube > a {
  background-image: url(http://firecdn.net/images/social_icons/vector/24px/youtube.png);
}
.social.icon.vector.x32.facebook > a,
.social-icon.vector.x32.facebook > a {
  background-image: url(http://firecdn.net/images/social_icons/vector/32px/facebook.png);
}
.social.icon.vector.x32.twitter > a,
.social-icon.vector.x32.twitter > a {
  background-image: url(http://firecdn.net/images/social_icons/vector/32px/twitter.png);
}
.social.icon.vector.x32.twitter-2 > a,
.social-icon.vector.x32.twitter-2 > a {
  background-image: url(http://firecdn.net/images/social_icons/vector/32px/twitter-2.png);
}
.social.icon.vector.x32.linkedin > a,
.social-icon.vector.x32.linkedin > a {
  background-image: url(http://firecdn.net/images/social_icons/vector/32px/linkedin.png);
}
.social.icon.vector.x32.google-plus > a,
.social-icon.vector.x32.google-plus > a {
  background-image: url(http://firecdn.net/images/social_icons/vector/32px/google-plus.png);
}
.social.icon.vector.x32.google-plus-black > a,
.social-icon.vector.x32.google-plus-black > a {
  background-image: url(http://firecdn.net/images/social_icons/vector/32px/google-plus-black.png);
}
.social.icon.vector.x32.youtube > a,
.social-icon.vector.x32.youtube > a {
  background-image: url(http://firecdn.net/images/social_icons/vector/32px/youtube.png);
}
img {
  width: auto;
  height: auto;
  max-width: 100% !important;
  max-height: 100% !important;
}
.embed-container {
  position: relative;
  height: 0;
  overflow: hidden;
}
.embed-container.r16x9 {
  padding-bottom: 0.5625 '%';
}
.embed-container.r4x3 {
  padding-bottom: 0.75 '%';
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media only screen and (min-width: 1600px) {
  body.responsive {
    min-width: 1560px;
  }
  body.responsive .container_12,
  body.responsive .container_16 {
    width: 1560px;
  }
}
@media only screen and (min-width: 1280px) and (max-width: 1600px) {
  body.responsive {
    min-width: 1200px;
  }
  body.responsive .container_12,
  body.responsive .container_16 {
    width: 1200px;
  }
}
@media only screen and (min-width: 980px) and (max-width: 1280px) {
  body.responsive {
    min-width: 960px;
  }
  body.responsive .container_12,
  body.responsive .container_16 {
    width: 960px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 980px) {
  body.responsive {
    min-width: 720px;
  }
  body.responsive .container_12,
  body.responsive .container_16 {
    width: 720px;
  }
}
@media only screen and (max-width: 768px) {
  body.responsive,
  body.mobile-responsive {
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    width: 100%;
    min-width: 0;
    margin: 0;
  }
  body.responsive .container_12,
  body.mobile-responsive .container_12,
  body.responsive .container_16,
  body.mobile-responsive .container_16 {
    width: 100%;
  }
  body.responsive .grid_1,
  body.mobile-responsive .grid_1,
  body.responsive .grid_2,
  body.mobile-responsive .grid_2,
  body.responsive .grid_3,
  body.mobile-responsive .grid_3,
  body.responsive .grid_4,
  body.mobile-responsive .grid_4,
  body.responsive .grid_5,
  body.mobile-responsive .grid_5,
  body.responsive .grid_6,
  body.mobile-responsive .grid_6,
  body.responsive .grid_7,
  body.mobile-responsive .grid_7,
  body.responsive .grid_8,
  body.mobile-responsive .grid_8,
  body.responsive .grid_9,
  body.mobile-responsive .grid_9,
  body.responsive .grid_10,
  body.mobile-responsive .grid_10,
  body.responsive .grid_11,
  body.mobile-responsive .grid_11,
  body.responsive .grid_12,
  body.mobile-responsive .grid_12,
  body.responsive .grid_13,
  body.mobile-responsive .grid_13,
  body.responsive .grid_14,
  body.mobile-responsive .grid_14,
  body.responsive .grid_15,
  body.mobile-responsive .grid_15,
  body.responsive .grid_16,
  body.mobile-responsive .grid_16 {
    float: none;
    width: 100%;
  }
  body.responsive .grid_1.mobile-center,
  body.mobile-responsive .grid_1.mobile-center,
  body.responsive .grid_2.mobile-center,
  body.mobile-responsive .grid_2.mobile-center,
  body.responsive .grid_3.mobile-center,
  body.mobile-responsive .grid_3.mobile-center,
  body.responsive .grid_4.mobile-center,
  body.mobile-responsive .grid_4.mobile-center,
  body.responsive .grid_5.mobile-center,
  body.mobile-responsive .grid_5.mobile-center,
  body.responsive .grid_6.mobile-center,
  body.mobile-responsive .grid_6.mobile-center,
  body.responsive .grid_7.mobile-center,
  body.mobile-responsive .grid_7.mobile-center,
  body.responsive .grid_8.mobile-center,
  body.mobile-responsive .grid_8.mobile-center,
  body.responsive .grid_9.mobile-center,
  body.mobile-responsive .grid_9.mobile-center,
  body.responsive .grid_10.mobile-center,
  body.mobile-responsive .grid_10.mobile-center,
  body.responsive .grid_11.mobile-center,
  body.mobile-responsive .grid_11.mobile-center,
  body.responsive .grid_12.mobile-center,
  body.mobile-responsive .grid_12.mobile-center,
  body.responsive .grid_13.mobile-center,
  body.mobile-responsive .grid_13.mobile-center,
  body.responsive .grid_14.mobile-center,
  body.mobile-responsive .grid_14.mobile-center,
  body.responsive .grid_15.mobile-center,
  body.mobile-responsive .grid_15.mobile-center,
  body.responsive .grid_16.mobile-center,
  body.mobile-responsive .grid_16.mobile-center {
    text-align: center;
  }
  body.responsive .grid_1.mobile-left,
  body.mobile-responsive .grid_1.mobile-left,
  body.responsive .grid_2.mobile-left,
  body.mobile-responsive .grid_2.mobile-left,
  body.responsive .grid_3.mobile-left,
  body.mobile-responsive .grid_3.mobile-left,
  body.responsive .grid_4.mobile-left,
  body.mobile-responsive .grid_4.mobile-left,
  body.responsive .grid_5.mobile-left,
  body.mobile-responsive .grid_5.mobile-left,
  body.responsive .grid_6.mobile-left,
  body.mobile-responsive .grid_6.mobile-left,
  body.responsive .grid_7.mobile-left,
  body.mobile-responsive .grid_7.mobile-left,
  body.responsive .grid_8.mobile-left,
  body.mobile-responsive .grid_8.mobile-left,
  body.responsive .grid_9.mobile-left,
  body.mobile-responsive .grid_9.mobile-left,
  body.responsive .grid_10.mobile-left,
  body.mobile-responsive .grid_10.mobile-left,
  body.responsive .grid_11.mobile-left,
  body.mobile-responsive .grid_11.mobile-left,
  body.responsive .grid_12.mobile-left,
  body.mobile-responsive .grid_12.mobile-left,
  body.responsive .grid_13.mobile-left,
  body.mobile-responsive .grid_13.mobile-left,
  body.responsive .grid_14.mobile-left,
  body.mobile-responsive .grid_14.mobile-left,
  body.responsive .grid_15.mobile-left,
  body.mobile-responsive .grid_15.mobile-left,
  body.responsive .grid_16.mobile-left,
  body.mobile-responsive .grid_16.mobile-left {
    text-align: left;
  }
  body.responsive .grid_1.mobile-right,
  body.mobile-responsive .grid_1.mobile-right,
  body.responsive .grid_2.mobile-right,
  body.mobile-responsive .grid_2.mobile-right,
  body.responsive .grid_3.mobile-right,
  body.mobile-responsive .grid_3.mobile-right,
  body.responsive .grid_4.mobile-right,
  body.mobile-responsive .grid_4.mobile-right,
  body.responsive .grid_5.mobile-right,
  body.mobile-responsive .grid_5.mobile-right,
  body.responsive .grid_6.mobile-right,
  body.mobile-responsive .grid_6.mobile-right,
  body.responsive .grid_7.mobile-right,
  body.mobile-responsive .grid_7.mobile-right,
  body.responsive .grid_8.mobile-right,
  body.mobile-responsive .grid_8.mobile-right,
  body.responsive .grid_9.mobile-right,
  body.mobile-responsive .grid_9.mobile-right,
  body.responsive .grid_10.mobile-right,
  body.mobile-responsive .grid_10.mobile-right,
  body.responsive .grid_11.mobile-right,
  body.mobile-responsive .grid_11.mobile-right,
  body.responsive .grid_12.mobile-right,
  body.mobile-responsive .grid_12.mobile-right,
  body.responsive .grid_13.mobile-right,
  body.mobile-responsive .grid_13.mobile-right,
  body.responsive .grid_14.mobile-right,
  body.mobile-responsive .grid_14.mobile-right,
  body.responsive .grid_15.mobile-right,
  body.mobile-responsive .grid_15.mobile-right,
  body.responsive .grid_16.mobile-right,
  body.mobile-responsive .grid_16.mobile-right {
    text-align: right;
  }
  body.responsive .grid_1.alpha,
  body.mobile-responsive .grid_1.alpha,
  body.responsive .grid_2.alpha,
  body.mobile-responsive .grid_2.alpha,
  body.responsive .grid_3.alpha,
  body.mobile-responsive .grid_3.alpha,
  body.responsive .grid_4.alpha,
  body.mobile-responsive .grid_4.alpha,
  body.responsive .grid_5.alpha,
  body.mobile-responsive .grid_5.alpha,
  body.responsive .grid_6.alpha,
  body.mobile-responsive .grid_6.alpha,
  body.responsive .grid_7.alpha,
  body.mobile-responsive .grid_7.alpha,
  body.responsive .grid_8.alpha,
  body.mobile-responsive .grid_8.alpha,
  body.responsive .grid_9.alpha,
  body.mobile-responsive .grid_9.alpha,
  body.responsive .grid_10.alpha,
  body.mobile-responsive .grid_10.alpha,
  body.responsive .grid_11.alpha,
  body.mobile-responsive .grid_11.alpha,
  body.responsive .grid_12.alpha,
  body.mobile-responsive .grid_12.alpha,
  body.responsive .grid_13.alpha,
  body.mobile-responsive .grid_13.alpha,
  body.responsive .grid_14.alpha,
  body.mobile-responsive .grid_14.alpha,
  body.responsive .grid_15.alpha,
  body.mobile-responsive .grid_15.alpha,
  body.responsive .grid_16.alpha,
  body.mobile-responsive .grid_16.alpha,
  body.responsive .grid_1.omega,
  body.mobile-responsive .grid_1.omega,
  body.responsive .grid_2.omega,
  body.mobile-responsive .grid_2.omega,
  body.responsive .grid_3.omega,
  body.mobile-responsive .grid_3.omega,
  body.responsive .grid_4.omega,
  body.mobile-responsive .grid_4.omega,
  body.responsive .grid_5.omega,
  body.mobile-responsive .grid_5.omega,
  body.responsive .grid_6.omega,
  body.mobile-responsive .grid_6.omega,
  body.responsive .grid_7.omega,
  body.mobile-responsive .grid_7.omega,
  body.responsive .grid_8.omega,
  body.mobile-responsive .grid_8.omega,
  body.responsive .grid_9.omega,
  body.mobile-responsive .grid_9.omega,
  body.responsive .grid_10.omega,
  body.mobile-responsive .grid_10.omega,
  body.responsive .grid_11.omega,
  body.mobile-responsive .grid_11.omega,
  body.responsive .grid_12.omega,
  body.mobile-responsive .grid_12.omega,
  body.responsive .grid_13.omega,
  body.mobile-responsive .grid_13.omega,
  body.responsive .grid_14.omega,
  body.mobile-responsive .grid_14.omega,
  body.responsive .grid_15.omega,
  body.mobile-responsive .grid_15.omega,
  body.responsive .grid_16.omega,
  body.mobile-responsive .grid_16.omega {
    padding: 0;
  }
  body.responsive .block_grid > *,
  body.mobile-responsive .block_grid > * {
    width: 100%;
    padding: 0;
  }
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
@media print {
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page  {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
.show-for-small,
.show-for-medium,
.show-for-medium-down,
.hide-for-large,
.hide-for-large-up,
.show-for-xlarge,
.show-for-print {
  display: none !important;
}
.hide-for-small,
.hide-for-medium,
.hide-for-medium-down,
.show-for-large,
.show-for-large-up,
.hide-for-xlarge,
.hide-for-print {
  display: inherit !important;
}
@media only screen and (min-width: 1600px) {
  .hide-for-small,
  .hide-for-medium,
  .hide-for-medium-down,
  .hide-for-large,
  .show-for-large-up,
  .show-for-xlarge {
    display: inherit !important;
  }
  .show-for-small,
  .show-for-medium,
  .show-for-medium-down,
  .show-for-large,
  .hide-for-large-up,
  .hide-for-xlarge {
    display: none !important;
  }
}
@media only screen and (max-width: 980px) and (min-width: 768px) {
  .hide-for-small,
  .show-for-medium,
  .show-for-medium-down,
  .hide-for-large,
  .hide-for-large-up,
  .hide-for-xlarge {
    display: inherit !important;
  }
  .show-for-small,
  .hide-for-medium,
  .hide-for-medium-down,
  .show-for-large,
  .show-for-large-up,
  .show-for-xlarge {
    display: none !important;
  }
}
@media only screen and (max-width: 768px) {
  .show-for-small,
  .hide-for-medium,
  .show-for-medium-down,
  .hide-for-large,
  .hide-for-large-up,
  .hide-for-xlarge {
    display: inherit !important;
  }
  .hide-for-small,
  .show-for-medium,
  .hide-for-medium-down,
  .show-for-large,
  .show-for-large-up,
  .show-for-xlarge {
    display: none !important;
  }
}
.show-for-landscape,
.hide-for-portrait {
  display: inherit !important;
}
.hide-for-landscape,
.show-for-portrait {
  display: none !important;
}
@media screen and (orientation: landscape) {
  .show-for-landscape,
  .hide-for-portrait {
    display: inherit !important;
  }
  .hide-for-landscape,
  .show-for-portrait {
    display: none !important;
  }
}
@media screen and (orientation: portrait) {
  .show-for-portrait,
  .hide-for-landscape {
    display: inherit !important;
  }
  .hide-for-portrait,
  .show-for-landscape {
    display: none !important;
  }
}
