[submodule "plugins/less-mixins"]
	path = plugins/less-mixins
	url = git@github.com:optimumweb/less-mixins.git
[submodule "plugins/jSlider"]
	path = plugins/jSlider
	url = git@github.com:optimumweb/jSlider.git
[submodule "plugins/ajax-mail"]
	path = plugins/ajax-mail
	url = git@github.com:optimumweb/ajax-mail.git
